.DS_Store
Thumbs.db

.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Frontend/node_modules/
Frontend/dist/
Frontend/dist-ssr/
Frontend/*.local
Frontend/.env
Frontend/.env.*
Frontend/.env.local
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/pnpm-debug.log*
Frontend/lerna-debug.log*

Backend/node_modules/
Backend/logs/
Backend/*.log
Backend/npm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*
Backend/pnpm-debug.log*
Backend/.env
Backend/.env.*
Backend/.env.local
Backend/.cache/
Backend/tmp/
Backend/temp/
Backend/.pm2/

logs/
*.log

*.env
*.env.*
.env

*.Trash

dist/
build/

*.lock.bak

coverage/
